@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  @apply bg-slate-200;
}

@layer components {
  .container {
    margin: 0 auto;
    max-width: 1350px;
    padding: 0 15px;
  }
}

@layer utilities {
  .secPad {
    @apply py-10;
  }
}
